body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Dark background */
    color: #fff; /* White text */
}

.login-container, .signup-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #444; /* Darker background */
    border: 1px solid #555; /* Darker border */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff; /* White text */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    color: #fff; /* White text */
}

input {
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #555; /* Darker border */
    border-radius: 5px;
    background-color: #444; /* Darker background */
    color: #fff; /* White text */
}

button {
    width: 100%;
    height: 40px;
    background-color: #666; /* Darker background */
    color: #fff; /* White text */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #777; /* Darker hover background */
}

#error-message {
    color: #f00; /* Red error text */
    font-size: 12px;
    margin-top: 10px;
}


#student-options {
    display: none;
}

#student-options label {
    margin-bottom: 10px;
}

#student-options select {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

#student-options {
    display: none;
}

#student-options label {
    margin-bottom: 10px;
}

#student-options select {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo {
    float: left;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #ccc;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
